<div layout="column" layout-fill>
    <md-toolbar md-scroll-shrink class="md-hue-2">
        <div class="md-toolbar-tools">
            <md-button class="md-icon-button" aria-label="Menu" ng-click="toggleSideNav('left');" hide-gt-sm>
                <ng-md-icon icon="menu"></ng-md-icon>   
            </md-button>
            About
            <span flex></span>

        </div>
    </md-toolbar>

    <!--<div layout="column" layout-align="center center" flex>
        <md-progress-circular md-mode="indeterminate"></md-progress-circular>
    </div>-->
    
    <md-content flex>
        a<br>
        a<br>
        a<br>
        a<br>
        a<br>
        a<br>
        a<br>
        a<br>
        a<br>
        a<br>
        a<br>
        a<br>
        a<br>
        a<br>
        a<br>
        a<br>
        a<br>
        a<br>
        a<br>
        a<br>
        a<br>
        a<br>
        a<br>
        a<br>
        a<br>
        a<br>
        a<br>
        a<br>
        a<br>
        a<br>
        a<br>
        a<br>
        a<br>
        a<br>
        a<br>
        a<br>
        a<br>
        a<br>
        a<br>
        a<br>
        a<br>
        a<br>
        a<br>
        a<br>
        a<br>
        a<br>
        a<br>
        a<br>
        a<br>
        a<br>
        a<br>
        a<br>
        a<br>
        a<br>
        a<br>
        a<br>
        a<br>
        a<br>
        a<br>
    </md-content>
</div>
