<md-toolbar class="md-hue-2 shadow" md-scroll-shrink ng-controller="authController">
    <div class="md-toolbar-tools">
        <div class="inset">
            <ng-md-icon icon="error_outline"></ng-md-icon>
        </div>
        iPulong <em> &nbsp {{::userType}}</em>
        <span flex></span>
        
        <md-menu md-position-mode="target-right target" ng-controller="notifController">
            <md-button aria-label="User menu" class="md-icon-button md-primary" ng-click="$mdOpenMenu($event); newNotif=false;">
                <ng-md-icon icon="notifications" style="fill: {{newNotif?'white':''}}"></ng-md-icon>
            </md-button>
            <md-menu-content width="5">
                <md-menu-item ng-repeat="report in reports | orderBy:'-datetime'">
                    <md-button ng-click="viewDetails(event, report)" >
                        <ng-md-icon icon="error"></ng-md-icon>
                        {{report.type}}
                    </md-button>
                </md-menu-item>
            </md-menu-content>
        </md-menu>
        
        <md-menu md-position-mode="target-right target" ng-hide="firebaseUser">
            <md-button aria-label="User menu" class="md-icon-button md-raised md-primary" ng-click="$mdOpenMenu($event)">
                <ng-md-icon icon="person"></ng-md-icon>
            </md-button>
            <md-menu-content width="4">
                <em class="inset">login with:</em>
                <!--<md-menu-item>
                    <md-button>
                        <ng-md-icon icon="facebook"></ng-md-icon>
                        Facebook
                    </md-button>
                </md-menu-item>-->
                <md-menu-item>
                    <md-button ng-click="loginWith('facebook')">
                        <ng-md-icon icon="facebook"></ng-md-icon>
                        Facebook
                    </md-button>
                </md-menu-item>
                <md-menu-divider></md-menu-divider>
                <md-menu-item ng-show="forUser(['Brgy','User'])">
                    <md-button ng-click="setContacts();">
                        <ng-md-icon icon="contacts"></ng-md-icon>
                        Emergency Contacts
                    </md-button>
                </md-menu-item>
            </md-menu-content>
        </md-menu>        
        
        <md-menu ng-if="firebaseUser.photoURL" md-position-mode="target-right target" ng-show="firebaseUser">
            <md-button aria-label="User menu" class="md-icon-button md-raised md-primary" ng-click="$mdOpenMenu($event)">
                <img class="avatar" ng-if="firebaseUser.photoURL" src="{{firebaseUser.photoURL}}"/>
            </md-button>
            <md-menu-content width="4">
                <em class="inset"><img class="avatar" ng-if="firebaseUser.photoURL" src="{{firebaseUser.photoURL}}"/>{{firebaseUser.displayName}}</em>
                <md-menu-item ng-show="forUser(['Brgy','User'])">
                    <md-button ng-click="setContacts();">
                        <ng-md-icon icon="contacts"></ng-md-icon>
                        Emergency Contacts
                    </md-button>
                </md-menu-item>
                <md-menu-divider></md-menu-divider>
                <md-menu-item>
                <md-button ng-click="signOut()">
                    <ng-md-icon icon="logout"></ng-md-icon>
                    Logout
                </md-button>
                </md-menu-item>
            </md-menu-content>
        </md-menu>
        
    </div>
</md-toolbar>