<div style="height:100%;" layout-fill class="shadow">
<md-sidenav
    style="height:100%"
    class="md-sidenav-left"
    md-component-id="left"
    md-whiteframe="4"
    md-is-locked-open="$mdMedia('gt-sm')">
    <div hide-gt-sm ng-include="'modules/main/views/headBar.html'"></div>
    <md-toolbar class="md-hue-4">
        <div class="md-toolbar-tools" style="color: white"> <span style="font-size: 16px" class="inset">Apps that keeps you safe</span> </div>
    </md-toolbar>
    <md-content >
        <md-list class="md-dense" flex style="color: #757575;">
            <md-list-item md-ink-ripple ng-click="toggleSideNav('left');" ui-sref="report" ng-class="{active: $state.current.name=='report'}">
                  <md-item-content layout="row" layout-align="start center">
                    <div class="inset">
                        <ng-md-icon icon="add_alert" style=""></ng-md-icon>
                    </div>
                    <div class="inset">
                        Report <em>(offline mode)</em>
                    </div>
                  </md-item-content>
            </md-list-item>
            <md-list-item md-ink-ripple ng-click="toggleSideNav('left');" ui-sref="safetymap" ng-class="{active: $state.current.name=='safetymap'}">
                  <md-item-content layout="row" layout-align="start center">
                    <div class="inset">
                      <ng-md-icon icon="map" style=""></ng-md-icon>
                    </div>
                    <div class="inset">
                        Safety Map
                    </div>
                  </md-item-content>
            </md-list-item>
            <md-divider></md-divider>
            <md-list-item md-ink-ripple ng-click="toggleSideNav('left');" ui-sref="contactus" ng-class="{active: $state.current.name=='contactus'}">
                  <md-item-content layout="row" layout-align="start center">
                    <div class="inset">
                      <ng-md-icon icon="contact_phone" style=""></ng-md-icon>
                    </div>
                    <div class="inset">
                        Contact Us
                    </div>
                  </md-item-content>
            </md-list-item>
        </md-list>
    </md-content>

</md-sidenav>
</div>