<md-toolbar md-scroll-shrink class="md-hue-2">
    <div class="md-toolbar-tools">
        <md-button class="md-icon-button" aria-label="Menu" ng-click="toggleSideNav('left');" hide-gt-sm>
            <ng-md-icon icon="menu"></ng-md-icon>
        </md-button>
        404: Page not Found
    </div>
</md-toolbar>

<md-content flex style="background-color: #EAEAEA;">

    <div layout="column" layout-align="center center" layout-fill>
        <md-progress-circular md-mode="indeterminate"></md-progress-circular>
        <h1>404: Page not Found</h1>
    </div>

</md-content>